* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image:url(./event\ logo.png);
    font-size: 18px;
    font-family: Arial, sans-serif;
    position: relative;
    background-attachment: fixed;
    
}
.container {
    background-color: rgb(3, 46, 46);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    flex-wrap: wrap; /* important */
}

.title h1 {
    color: white;
    font-size: 34px;
}

.contact {
    color: white;
    text-align: right;
    font-size: 16px;
}


@media (max-width: 768px) {

    .container {
        flex-direction: column;
        text-align: center;
    }

    .contact {
        text-align: center;
        margin-top: 10px;
        font-size: 14px;
    }

    .title h1 {
        font-size: 20px;
    }
}

.contact p {
    margin: 3px 0;
}

/* Heading */
h1 {
    color: white;
}
h2{
     color: white;
    
}

/* Event section */

.event{
    border-color: aquamarine;
}
.mywebsite{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 2%; */
    /* background-image:url(./event\ logo.png); */
}
a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

/* Images */
.event img  {
    width: 100%;
    max-width: 550px;
    height: auto;
    border: 2px solid rgb(77, 3, 3);
    border-radius: 10px;
    margin-bottom: 20px;
    margin: 20px;
    
}

/* Birthday shadow */
.event:nth-child(2) img {
    box-shadow: 2px 5px 12px 5px rgb(154, 240, 105);
}

/* Marriage shadow */
.event:nth-child(3) img {
    box-shadow: 2px 5px 12px 5px rgb(240, 215, 105);
}

/* Button */
button {
    padding: 15px 25px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin-left: 20px;
    margin-bottom: 20px;
}

/* Tablets */
@media (max-width: 768px) {
    body {
        font-size: 16px;
    }
}

/* Mobile */
@media (max-width: 480px) {
    body {
        font-size: 14px;
    }

    button {
        width: 90%;
    }
}

.image  {
    padding: 5px;
    width: 100vh;
    height: 100vh;
}